.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  /* background-color: #8a2b06; */
  color: rgb(55, 0, 205);
}

/* ///////// */
.popupcontent {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #00000079;
}

.popupcontent h3 {
  margin: 0;
  left: 0;
}

.amountquantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.amountquantity input {
  margin-left: 2rem;
  width: 2.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 1rem;
}

.modifyqauntity button {
  margin: 0.5rem;
}

.item-container {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}

.amount-section,
.quantity-section,
.total-section {
  margin-top: 5px;
}

.buttons-section button {
  margin-right: 5px;
}
