.headerExpense {
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50;
  color: green;
  margin-bottom: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

.profile {
  color: red;
  margin-left: 25rem !important;
  background-color: rgb(195, 162, 16);
  border-radius: 5px;
  padding-left: 1rem;
  padding-top: 2px;
  padding-right: 1rem;
  height: 1.4rem;
}
span {
  margin-right: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
}
.logout,
.login {
  width: 4rem;
  background-color: rgb(53, 87, 150);
  height: 3rem;
  width: 10rem;
  margin-top: 1rem;
  margin-left: 2rem;
  text-align: center;
  border: 1px solid black;
  margin-right: 1rem;
  cursor: pointer;
  color: black;
  font-size: large;
  border-radius: 5px;
}

.h {
  margin-left: 10%;
  font-weight: 200;
  font-size: large;
}
@media only screen and (max-width: 600px) {
  .h {
    margin-left: 5%;
    font-size: small;
  }
}

.line {
  background-color: black;
  height: 0.3rem;
}

.input {
  width: 140px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid black;
}
.expense {
  display: flex;
  justify-content: space-evenly;
}
.button {
  margin-top: 58px;
  margin-left: 40px;
  width: 7vw;
  height: 50px;
  background-color: #156eb8;
  color: #080710;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.download {
  width: 4rem;
  background-color: rgb(53, 87, 150);
  height: 2.5rem;
  width: 10rem;
  margin-top: 1rem;
  margin-left: 2rem;
  text-align: center;
  border: 1px solid black;
  margin-right: 1rem;
  cursor: pointer;
  color: black;
  font-size: large;
  border-radius: 5px;
  padding-top: 0.6rem;
  text-decoration: none;
}

.row {
  display: flex;
}

.cart {
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-weight: bold;
  background-color: rgba(3, 188, 130, 0.831);
  margin-left: 1.4rem;
}
.cartspan {
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(3, 188, 130, 0.831);
  color: #080710;
  width: 1.3rem;
  border: 1px solid black;
}
.card button {
  background-color: rgb(11, 81, 221);
  margin: 6px;
  font-weight: bold;
  font-size: 100;
}
.loading,
.error {
  height: 2rem;
  text-align: center;
  background-color: green;
  font-size: bold;
  font-weight: 200;
}
.error {
  color: red;
}
